[Unit]
Description=Virtual BMS Serial Port Bridge
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/solar-assistant/setup_virtual_port.sh
ExecStop=/bin/umount /sys/class/tty
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
